<div class="login">
  <p>Log In:</p>
  <form action="/login" method="post">
    <p><input type="text" name="login[email]" placeholder="E-Mail"></p>
    <p><input type="password" name="login[password]" placeholder="Password"></p>
    <input type="submit" value="Log in">
  </form>
</div>

<div class="signup">
  <p>Or Signup</p>
  <form action="/signup" method="post">
    <p><input type="text" name="signup[name]" placeholder="Name"></p>
    <p><input type="text" name="signup[email]" placeholder="Email"></p>
    <p><input type="password" name="signup[password]" placeholder="Password"></p>
    <p><input type="password" name="signup[confirmation]" placeholder="Confirm Password"></p>
    <input type="submit" value="Sign up">
  </form>    
</div>
